form(method='GET', action='/create')
  div 
    label(for='name')
    input(id='name', name='name')
  div
    label(for='email')
    input(id='email', name='email')
  div
    input(type='submit' value='Add user')